:root {
    --navbar-height: 5rem;
    --navabr-bg-color: rgba(0,0,0, 0.5);
    --navbar-opacity: 50%;
    --navbar-blur: 6px;
    --hamburger-button-size: 48px;
    --hamburger-line-height: 8px;
    --hamburger-left-margin: 5dvw;

    --pfp-hue: 0;
    --pfp-sepia: 1;
    --pfp-saturate: 5;
    --pfp-brightness: 0.6;
    --pfp-bg-brightness: 0.85;
    --pfp-right-margin: 5dvw;

    --pfp-dropdown-right-margin-mod: 5.0;

    --sidebar-color-hover: #adadad;
    --sidebar-section-height: var(--hamburger-button-size);
    --sidebar-animation-time: 0.3s;
    --sidebar-font-size: 2rem;

    --menu-bg-color: #f0f0f0;
    --menu-bg-color_hover: #b6b6b6;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100dvw;
    height: var(--navbar-height);

    position: sticky;
}

.navbar > h1 {
    color: white;
    position: absolute;
    font-size: 4rem;
    font-family: 'Jaldi', sans-serif;

    z-index: 0;
}

.navbar > .navbar_body {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--navabr-bg-color);
    backdrop-filter: blur(var(--navbar-blur));
    -webkit-backdrop-filter: blur(var(--navbar-blur));
    
    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.elements_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile_picture_container {
    border-radius: 100%;
    background-color: white;
    height: 100%;
    aspect-ratio: 1/1;
    z-index: 2;
    overflow: hidden;
    margin-right: var(--pfp-right-margin);

    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.5);

    filter: sepia(var(--pfp-sepia)) saturate(var(--pfp-saturate)) hue-rotate(var(--pfp-hue)) brightness(var(--pfp-bg-brightness));
}

.profile_picture {
    width: 100%;
    aspect-ratio: 1/1;

    filter: sepia(var(--pfp-sepia)) saturate(var(--pfp-saturate)) hue-rotate(var(--pfp-hue)) brightness(var(--pfp-brightness));
}

.hamburger_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: var(--hamburger-button-size);
    aspect-ratio: 1.1/1;
    overflow: hidden;
    border: none;
    background-color: rgba(0,0,0,0);
    margin-left: var(--hamburger-left-margin);
}

.hamburger_button > div {
    width: 100%;
    height: var(--hamburger-line-height);

    background-color: white;
}

.sidebar {
    position: absolute;
    background-color: var(--menu-bg-color);
    width: 50dvw;
    height: 100dvh;

    z-index: 5;
}
.close_sidebar_button {
    position: relative;
    height: calc(var(--hamburger-button-size) * 1.5);
    width: calc(var(--hamburger-button-size) * 1.5);
    border: none;
    border-radius: 30px;
    margin-left: 6%;
    background-color: var(--sidebar-color);
}
.close_sidebar_button > div {
    position: absolute;
    width: 100%;
    height: var(--hamburger-line-height);
    background-color: black;
}
.close_sidebar_button :nth-child(1) {
    rotate: 45deg;
}
.close_sidebar_button :nth-child(2) {
    rotate: -45deg;
}

.sidebar_inactive {
    left: -110%;

    transition: left var(--sidebar-animation-time) ease-in;
}
.sidebar_active {
    left: 0;

    transition: left var(--sidebar-animation-time) ease-out;
}

.sidebar_section {
    width: 100%;
    height: var(--sidebar-section-height);
}
.sidebar_section > button {
    font-family: 'Jaldi', sans-serif;
    font-size: var(--sidebar-font-size);
    color: black;
}

.sidebar_section_close_sidebar {
    height: calc(var(--hamburger-button-size) * 1.9);
    padding: 0.1rem;
}

.home_button {
    width: 100%;
    height: 100%;
    background-color: var(--sidebar-color);
    border: none;
    border-radius: 0;
}
.home_button:hover {
    background-color: var(--sidebar-color-hover);
}
.home_button:active {
    background-color: var(--sidebar-color-hover);
}

.pfp_dropdown {
    position: absolute;
    height: 7rem;
    aspect-ratio: 3/2;
    right: 0;
    top: var(--navbar-height);
    margin-right: calc(var(--pfp-right-margin) / 2);
}
.pfp_dropdown_inactive {
    display: none;
}

.dropdown_arrow_container {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.dropdown_arrow {
    fill: var(--menu-bg-color);
    stroke: none;
    height: 100%;
    aspect-ratio: 1/1;
    margin-right: calc(var(--navbar-height) / 2 + var(--pfp-right-margin) / var(--pfp-dropdown-right-margin-mod));
}
.dropdown_area {
    background-color: var(--menu-bg-color);
    width: 100%;
    height: 80%;
    border-radius: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.dropdown_section {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Jaldi', sans-serif;
    font-size: 1.1rem;

    transition: all 0.15s ease-in-out;
}

.dropdown_section:hover {
    background-color: var(--menu-bg-color_hover);
}
.dropdown_section:active {
    background-color: var(--menu-bg-color_hover);
}